body{
    background-color:white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#top{
    
    background-image:url("https://www.xmple.com/wallpaper/glow-hexagon-red-black-white-gradient-2880x1440-c4-ffffff-ffffff-f08080-000000-l2-11-140-a-50-f-6.svg");
    
    
    
}

#words{
    text-align:center;
}
